---
import { useTranslations } from '../../i18n'
import BaseLayout from '../../layouts/BaseLayout.astro'
import { buttonVariants } from '../../components/ui/button'

const { currentLocale } = Astro
const t = useTranslations(currentLocale as string)
---

<BaseLayout
  title={t('404.title')}
  description={t('404.description')}
>
  <main class="flex h-[80vh] flex-auto">
    <div class="flex flex-col items-center justify-center px-8">
      <img src="/me_hello.png" alt="404" class="mb-8 size-64" />
      <p class="text-sm text-muted-foreground">404</p>
      <h1 class="text-4xl font-extrabold tracking-tight lg:text-5xl">
        {t('404.heading')}
      </h1>
      <p class="mb-4 leading-7 [&:not(:first-child)]:mt-6">
        {t('404.p')}
      </p>
      <a href="/" rel="noreferrer" class={buttonVariants()}> {t('404.button')}</a>
    </div>
  </main>
</BaseLayout>
