---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About Me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Ayraf, an AI Software Developer from India 🇮🇳 with a strong passion for creating innovative solutions. I specialize in building scalable software systems and leveraging cutting-edge AI technologies.
      <br />
      <br />
      My technical expertise includes:
      <ul class="list-inside list-disc">
        <li>Python</li>
        <li>Java</li>
        <li>AWS</li>
        <li>SQL</li>
        <li>Docker</li>
        <li>C++</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond programming, I have a deep interest in F1 racing, music, and robotics. I also love experimenting with new recipes in the kitchen and have a strong passion for plants. Additionally, I have a special fondness for cats, appreciating them as one of nature's most intriguing creatures.
    </p>
  </div>
</Card>
