---
import { useTranslations } from '../../i18n'
import Card from '../Card.astro'

const { currentLocale } = Astro
const t = useTranslations(currentLocale as string)
---

<Card
  colSpan="md:col-span-1"
  rowSpan="md:row-span-6"
  title={t('aboutMe.title')}
>
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      {t('aboutMe.p1')}
      <br />
      <br />
      {t('aboutMe.p2')}
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>React</li>
        <li>Astro</li>
        <li>Python</li>
        <li>Php</li>
        <li>Mongo</li>
        <li>SQL</li>
        <li>Nodejs</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      {t('aboutMe.p3')}
    </p>
  </div>
</Card>
