---
import Card from '../Card.astro'
import { getLangFromUrl, useTranslations } from '../../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title={t('about.title')}>
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      {t('about.description')}
      <br />
      <br />
      {t('about.tools')}
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>React</li>
        <li>Astro</li>
        <li>Python</li>
        <li>Php</li>
        <li>Mongo</li>
        <li>SQL</li>
        <li>Nodejs</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      {t('about.hobbies')}
    </p>
  </div>
</Card>
