---
import { useTranslations } from '../../i18n'
import Card from '../Card.astro'
import { LINKS } from '../../lib/constants'

const { currentLocale } = Astro
const t = useTranslations(currentLocale as string)
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-xl font-bold text-foreground">
        {t('contactsCard.title')}
      </h1>
    </header>
    <address class="mt-4 flex flex-col">
      <h2 class="text-gray-500">{t('contactsCard.contactDetails')}</h2>
      <p>camiloplaza3@gmail.com</p>
      <p>🇨🇴 Bogotá D.C, Colombia 🇨🇴</p>
    </address>
    <div class="mt-4 flex w-fit flex-col">
      <h2 class="text-gray-500">{t('contactsCard.socials')}</h2>
      <ul>
        <li>
          <a href={LINKS.linkedin} target="_blank">Linkedin</a>
        </li>
        <li>
          <a href={LINKS.github} target="_blank">Github</a>
        </li>
        <li>
          <a href={LINKS.instagram} target="_blank">Instagram</a>
        </li>
      </ul>
    </div>
  </div>
</Card>
