---
import Card from '../Card.astro'
import { Button } from '../ui/button'
import { EXPERIENCE } from '../../lib/constants'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="Experience">
  <div class="mt-2 space-y-4">
    {
      EXPERIENCE.slice(0, 3).map((exp) => (
        <div>
          <h3 class="text-lg font-semibold">{exp.position}</h3>
          <a class="text-sm text-primary" href={exp?.link ?? ''}>
            {exp.company}
          </a>
          <p class="text-sm text-gray-600">
            {exp.start} - {exp.end}
          </p>
        </div>
      ))
    }
    <a href="/work">
      <Button variant="link" className="pl-0"> View More </Button>
    </a>
  </div>
</Card>
