---
import Card from '../Card.astro'
import { Button } from '../ui/button'
import { LINKS } from '../../lib/constants'
import { Linkedin, Github, Mail } from 'lucide-react'
---
<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div class="flex h-full w-full items-center">
    <div class="flex flex-col justify-between gap-4 md:max-h-[300px] md:w-3/5">
      <div class="flex h-full flex-col">
        <h6 class="m-0 text-sm font-light text-gray-500">Welcome</h6>
        <p class="m-0 text-xl font-light">
          Hi, I'm <b class="font-bold">Ayraf Raihan</b>, a dedicated AI wizard and software developer with a knack for solving complex problems. I thrive at the intersection of innovation and technology, crafting intelligent solutions to make an impact. With strong technical expertise and an insatiable curiosity, I am always ready for the next challenge.
        </p>
      </div>
      <div class="flex gap-4">
        <a href={LINKS.github} aria-label="GitHub profile" target="_blank">
          <Button aria-label="GitHub profile">
            <Github />
            <span class="sr-only">GitHub Profile</span>
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="LinkedIn profile" target="_blank">
          <Button aria-label="LinkedIn profile">
            <Linkedin />
            <span class="sr-only">LinkedIn Profile</span>
          </Button>
        </a>
        <a href={LINKS.mail} aria-label="Email contact" target="_blank">
          <Button>
            <Mail />
            <span class="sr-only">Email contact</span>
          </Button>
        </a>
      </div>
    </div>
    <img
      width="300"
      height="300"
      src="/me.png"
      class="pointer-events-none ml-auto max-h-[300px] w-auto select-none md:relative md:ml-0"
      alt="Memoji of Ayraf Raihan"
    />
  </div>
</Card>
</Concise>

