---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-1" title="My Stack">
  <p class="text-sm font-light">
    Here's a snapshot of the primary tools and technologies I work with:
  </p>
  <ul class="list-disc pl-5 text-sm font-light">
    <li><strong>Python</strong></li>
    <li><strong>Langchain</strong></li>
    <li><strong>AWS</strong></li>
    <li><strong>RAG</strong></li>
    <li><strong>Kaggle</strong></li>
    <li><strong>Streamlit</strong></li>
    <li><strong>Hugging Face</strong></li>
    <li><strong>ChromaDB</strong></li>

  </ul>
</Card>
