---
import Card from '../Card.astro'
import { LINKS } from '../../lib/constants'
---

<Card
  colSpan="md:col-span-1"
  rowSpan="md:row-span-2"
  title="Instagram tattoo"
  href={LINKS.instagram}
>
  <div class="flex h-full w-full flex-col">
    <div>
      <img
        width="50"
        height="50"
        src="/me_tattoo.png"
        class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[300px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
        alt="memoji of andres with a tattoo on his arm"
      />
    </div>
    <div>
      <p class="mt-2 text-sm text-muted-foreground">
        If you want to see my tattoo's, you can follow me on Instagram.
      </p>
    </div>
  </div>
</Card>
