---
import BaseLayout from '../layouts/BaseLayout.astro'
import IntroCard from '../components/sections/IntroCard.astro'
import AboutMe from '../components/sections/AboutMe.astro'
import Card from '../components/Card.astro'
import TimeZoneCard from '../components/sections/TimeZoneCard.astro'
import ContactsCard from '../components/sections/ContactsCard.astro'
import Now from '../components/sections/Now.astro'
import CVCard from '../components/sections/CVCard.astro'
import ExperienceCard from '../components/sections/ExperienceCard.astro'
import TattooCard from '../components/sections/TattooCard.astro'
import StudyCard from '../components/sections/StudyCard.astro'
//
import { motion, AnimatePresence } from 'framer-motion'
---

<script>
  import { stagger, spring, timeline, type TimelineDefinition } from 'motion'
  import { loaderAnimation } from '../lib/constants'

  const cards = document.querySelectorAll('.card-animate')

  const sequence = [
    loaderAnimation,
    [
      cards,
      { y: ['40%', '0%'], opacity: [0, 1] },
      {
        at: '-0.1',
        duration: 0.4,
        delay: stagger(0.3),
        easing: spring({ velocity: 100, stiffness: 50, damping: 10 }),
      },
    ],
  ]

  timeline(sequence as TimelineDefinition)
</script>

<BaseLayout
  title="Andrés Plaza - Full Stack Developer"
  description="Andrés Plaza - Full Stack Developer - Portfolio, Projects, CV, About Me, Contact, Timezone, Now, Experience, Tattoo, Study"
>
  <div
    slot="loader"
    class="loader bg-darkslate-700 fixed bottom-0 left-0 right-0 top-0 z-50 flex h-screen w-screen items-center justify-center text-3xl font-black uppercase text-neutral-50"
  >
  </div>
  <main
    class="relative m-auto grid w-full max-w-6xl gap-2 overflow-hidden p-2 sm:gap-2 sm:p-4 md:grid-cols-2 md:gap-3 md:p-6 lg:grid-cols-4 lg:grid-rows-8 lg:gap-4"
  >
    <IntroCard />
    <AboutMe />
    <CVCard />
    <Now />
    <Card
      colSpan="md:col-span-1"
      rowSpan="md:row-span-2"
      title="Portfolio & Projects"
      href="/portfolio"
    />
    <TimeZoneCard />
    <ContactsCard />
    <ExperienceCard />
    <Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
      <div class="flex h-full flex-col justify-between">
        <blockquote class="mt-6 border-l-2 pl-6 italic">
          “Anything one man can imagine, other men can make real.”
        </blockquote>
        <p class="mt-2 text-xs">- Jules Verne</p>
      </div>
    </Card>
    <TattooCard />
    <StudyCard />
    <!-- <Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
      <p class="text-xs">
        © 2023 · Crafted with ♥️ using <a
          href="https://astro.build/"
          target="_blank"
          class="text-red-500">Astro</a
        > by Gianmarco.
      </p>
    </Card> -->
  </main>
</BaseLayout>
