---
import { WORK } from '../lib/constants'
import BaseLayout from '../layouts/BaseLayout.astro'
import TopLayout from '../layouts/TopLayout.astro'
import BottomLayout from '../layouts/BottomLayout.astro'
import ProjectCard from '../components/ProjectCard.astro'
---

<BaseLayout
  title="Portfolio"
  description="Projects and some clone's that I did"
>
  <main class="flex min-h-[80vh] flex-auto flex-col">
    <TopLayout>
      <h2
        class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0"
      >
        Projects and clone's
      </h2>
    </TopLayout>
    <BottomLayout>
      <div class="flex w-full flex-wrap justify-center gap-2">
        <ProjectCard
          href="https://www.google.com"
          heading="Consectetur"
          subheading="Lorem ipsum dolor sit amet consectetur adipisicing elit."
          imagePath="/src/assets/coming-soon.png"
          altText="Example"
          class="w-full sm:w-2/5"
        />
        <ProjectCard
          as="div"
          heading="Coming soon..."
          subheading=""
          imagePath="/src/assets/coming-soon.png"
          altText="Lorem, ipsum dolor sit"
          class="w-full sm:w-2/5"
        />
        <ProjectCard
          href="https://www.google.com"
          heading="Consectetur"
          subheading="Lorem ipsum dolor sit amet consectetur adipisicing elit."
          imagePath="/src/assets/coming-soon.png"
          altText="Example"
          class="w-full sm:w-2/5"
        />
        <ProjectCard
          as="div"
          heading="Coming soon..."
          subheading=""
          imagePath="/src/assets/coming-soon.png"
          altText="Lorem, ipsum dolor sit"
          class="w-full sm:w-2/5"
        />
      </div>
    </BottomLayout>
  </main>
</BaseLayout>
