---
import { WORK } from '../lib/constants'
import BaseLayout from '../layouts/BaseLayout.astro'
import TopLayout from '../layouts/TopLayout.astro'
import BottomLayout from '../layouts/BottomLayout.astro'
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedExperience,
} from '../i18n/utils'

import { EXPERIENCE } from '../lib/constants'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const getExperience = useTranslatedExperience(lang)
---

<BaseLayout title={t('work.title')} description={t('work.description')}>
  <main class="flex min-h-[80vh] flex-auto flex-col" transition:animate="fade">
    <TopLayout>
      <h2
        class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0"
      >
        {t('work.title')}
      </h2>
    </TopLayout>
    <BottomLayout>
      <ul>
        {
          EXPERIENCE.map((entry) => {
            const translatedExp = getExperience(entry.id)
            if (!translatedExp) return null
            return (
              <li class="animate mt-4 border-b border-black/10 py-8 first-of-type:mt-0 first-of-type:pt-0 last-of-type:border-none dark:border-white/25">
                <div class="mb-4 text-sm uppercase">
                  {entry.start} -{' '}
                  {entry.end === 'Current' ? translatedExp.current : entry.end}
                </div>
                <a
                  href={entry.link ?? ''}
                  class={`font-semibold ${entry?.link ? 'text-primary' : 'text-foreground'}`}
                >
                  {translatedExp.company}
                </a>
                <div class="text-sm font-semibold">
                  {translatedExp.position}
                </div>
                <article class="prose dark:prose-invert">
                  {translatedExp.tasks.map((task) => (
                    <p>{task}</p>
                  ))}
                </article>
              </li>
            )
          })
        }
      </ul>
    </BottomLayout>
  </main>
</BaseLayout>
