---
interface Props {
  title?: string
  body?: string
}

const { title, body } = Astro.props
---

<>
  {title && <h2 class="z-20 m-0 text-xl font-bold">{title}</h2>}
  {body && <p class="m-0 text-base font-light">{body}</p>}
  <slot />
</>
