---
import { getRelativeLocaleUrl } from 'astro:i18n'
import { useTranslations } from '../i18n'
import LanguageSwitcher from './LanguageSwitcher.astro'
import { buttonVariants } from './ui/button'
import { ModeToggle } from './ui/ThemeToggle'

const { currentLocale } = Astro
const t = useTranslations(currentLocale as string)
---

<script is:inline>
  document.addEventListener('astro:after-swap', function () {
    if (localStorage.getItem('theme') === 'dark')
      document.documentElement.classList.toggle('dark', true)
  })

  const getThemePreference = () => {
    return localStorage.getItem('theme')
  }

  const isDark = getThemePreference() === 'dark'
  document.documentElement.classList[isDark ? 'add' : 'remove']('dark')
</script>

<header
  class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div
    class="container flex h-16 items-center space-x-4 sm:justify-between sm:space-x-0"
  >
    <div class="flex gap-6 md:gap-10">
      <a
        href={getRelativeLocaleUrl(currentLocale as string, '/')}
        class="flex items-center space-x-2"
      >
        <span class="inline-block font-bold">Bue221</span>
      </a>
    </div>
    <div class="flex flex-1 items-center justify-end space-x-4">
      <nav class="flex items-center space-x-1">
        <a
          href={getRelativeLocaleUrl(currentLocale as string, 'work')}
          class={buttonVariants({ variant: 'ghost' })}
        >
          {t('nav.work')}
        </a>
        <a
          href={getRelativeLocaleUrl(currentLocale as string, 'portfolio')}
          class={buttonVariants({ variant: 'ghost' })}
        >
          {t('nav.projects')}
        </a>
        <LanguageSwitcher />
        <ModeToggle transition:persist client:load />
      </nav>
    </div>
  </div>
</header>
