<span class="relative flex h-3 w-3">
  <span
    class="absolute inline-flex h-full w-full animate-ping rounded-full bg-green-400 opacity-75"
  ></span>
  <span class="relative inline-flex h-3 w-3 rounded-full bg-green-500"></span>
</span>
