---
import { Moon, Sun } from 'lucide-react'
import { Button } from '../components/ui/button'
---

<Button variant="ghost" size="icon" id="themeToggle">
  <Sun className="h-[1.5rem] w-[1.3rem] dark:hidden" />
  <Moon className="hidden h-5 w-5 dark:block" />
  <span class="sr-only">Toggle theme</span>
</Button>
