---
import { ViewTransitions } from 'astro:transitions'
import HeadSEO from '../components/HeadSEO.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

interface Props {
  title?: string | undefined
  description?: string | undefined
  ogImage?: URL | undefined
}

const { title, description, ogImage } = Astro.props
---

<html lang="en">
  <head>
    <HeadSEO title={title} description={description} ogImage={ogImage} />
    <ViewTransitions />
  </head>
  <body class="min-h-screen bg-background font-sans antialiased">
    <div class="flex flex-col items-center justify-center">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
